doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Simple Navbar
    link(rel="stylesheet", href="styles.css")
  body
    header
      nav.navbar
        .logo
          a(href="#") Event Registration System
        ul.nav-links
          li
            a(href="/home") Home
          li
            a(href="/about") About
          li
            a(href="#services") Services
          li
            a(href="/contact") Contact
