doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/login.css")
  body
    include index

    main.login-section
      form(method="POST", action="/authenticate")
        main.login-section
            h1 Login
            if errorMessage
                p.error-message= errorMessage
        .form-group
          label(for="email") Email
          input#email(type="email", name="email", placeholder="Your email" required)
        .form-group
          label(for="password") Password
          input#password(type="password", name="password", placeholder="Your password" required)
        .form-group
          button(type="submit") Log In
        p
            | Don't have an account?
            a(href="/register") Register here

    footer
      p &copy; 2025 Event Registration System
